.Experience-Card {
    width: 20vw;
    height: 25vh;
    margin: 2vw;
    transition: all 0.4s ease;
}

.Experience-Card:hover {
    transform: scale(1.06); 
}

.Card-title {
    font-size: 1.1vw;
    width: 100%;
    height: 20%;
    background-color: rgb(255, 204, 0);
    color: rgb(80, 80, 80);
    border-radius: 15px 15px 0px 0px;
    border-color: rgb(245,245,245);
}

.content {
    font-size: 1vw;
    width: 100%;
    height: 80%;
    background-color: white;
    border-color: rgb(245,245,245);
    color: rgb(80, 80, 80);
    border-radius: 0px 0px 15px 15px;
}

.barContainer {
    width: 100%;
    height: 1.8vh;
    background-color: white;
    border-radius: 10px;
    margin: 2vh;
}

.Skillbar {
    transition: all 0.4s ease;
}

.Skillbar:hover {
    transform: scale(1.05); 
}