.intro-container {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
}

.image-container {
    position: relative;
    height: 20T;
    width: 30%;
    margin-left: 7%;
    top: 10vh;
    opacity: 0;
}

.title {
    margin-top: 5vh;
    text-align: center;
}

.dark-text {
    color: rgb(64, 64, 64);
}