.title {
    margin-top: 10vh;
    text-align: left;
}

.dark-text {
    color:rgb(80, 80, 80);
}

.intro-container {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
}

.image-container {
    position: relative;
    height: 20T;
    width: 30%;
    margin-left: 7%;
    top: 10vh;
    opacity: 0;
}

.skills-container {
    display: block;
    height: 50vh;
    width: 55vw;
    margin: auto;
}

.namecard-container {
    min-width: 720px;
    min-height: 420px;
    max-width: 1400px;
    max-height: 800px;
    width: 35vw;
    height: 20vw;
    margin-top: 9vh;
    background-color: rgb(53, 56, 57);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    transform: rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;   
}

.vertical-line-front {
    border-left: 10px solid #ffce0a;
    min-height: 420px;
    max-height: 800px;
    height: 20vw;
    position: absolute;
    margin-left: 5%;
}

.vertical-line-back {
    border-left: 7px solid #ffce0a;
    border-radius: 5px 5px 5px 5px;
    min-height: 210px;
    max-height: 400px;
    height: 11vw;
    position: absolute;
    bottom: 22%;
    margin-left: 50%;
}

.horizontal-line {
    border-top: 10px solid #ffce0a;
    min-width: 720px;
    max-width: 1400px;
    width: 35vw;
    position: absolute;
}

.flip-icon {
    margin-top: 1%;
    text-align: center;
}

.flip-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}