.intro-container {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
}

.image-container {
    position: relative;
    height: 20T;
    width: 30%;
    margin-left: 7%;
    top: 10vh;
    opacity: 0;
}

.skills-container {
    display: block;
    height: 50vh;
    width: 55vw;
    margin: auto;
}

.namecard-container {
    min-width: 700px;
    min-height: 400px;
    max-width: 1400px;
    max-height: 800px;
    width: 35vw;
    height: 20vw;
    margin: auto;
    margin-top: 14vh;
    background-color: rgb(53, 56, 57);
}

.vertical-line {
    border-left: 10px solid #ffce0a;
    min-height: 400px;
    max-height: 800px;
    height: 20vw;
    position: absolute;
    margin-left: 2%;
}

.horizontal-line {
    border-top: 10px solid #ffce0a;
    min-width: 700px;
    max-width: 1400px;
    width: 35vw;
    position: absolute;
}

.title {
    margin-top: 10vh;
    text-align: left;
}

.dark-text {
    color:rgb(80, 80, 80);
}