/* Text CSS */
.title {
    margin-top: 10vh;
    text-align: left;
}

.dark-text {
    color:rgb(80, 80, 80);
}

/* Intro section CSS */
.intro-container {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
}

.image-container {
    position: relative;
    height: 20T;
    width: 30%;
    margin-left: 7%;
    top: 10vh;
    opacity: 0;
}

/* Skill section CSS */
.skills-container {
    display: block;
    height: 50vh;
    width: 55vw;
    margin: auto;
}

/* Contact section CSS */
.namecard-container {
    min-width: 700px;
    min-height: 420px;
    max-width: 800px;
    max-height: 480px;
    width: 45vw;
    height: 27vw;
    margin-top: 9vh;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    transition: all 1.2s ease;
    transform: rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
}

.namecard-container.flip {
    --rotate-y: 180deg;
}

.flip-icon {
    margin-top: 1%;
    text-align: center;
}

.flip-bt-hover:hover {
    transform: scale(1.3);
    cursor: pointer;
}