/* Text CSS */
.title {
    margin-top: 10vh;
    text-align: left;
}

.dark-text {
    color:rgb(80, 80, 80);
}

/* Intro section CSS */
.intro-container {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
}

.image-container {
    position: relative;
    height: 20T;
    width: 30%;
    margin-left: 7%;
    top: 10vh;
    opacity: 0;
}

/* Skill section CSS */
.skills-container {
    display: block;
    height: 50vh;
    width: 55vw;
    margin: auto;
}

/* Contact section CSS */
.namecard-container {
    min-width: 800px;
    min-height: 500px;
    max-width: 1400px;
    max-height: 800px;
    width: 35vw;
    height: 20vw;
    margin-top: 9vh;
    background-color: rgb(53, 56, 57);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}

.flip-icon {
    margin-top: 1%;
    text-align: center;
}

.flip-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}