.intro-container {
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
}

.image-container {
    position: relative;
    height: 20T;
    width: 30%;
    margin-left: 7%;
    top: 10vh;
    opacity: 0;
}

.skills-container {
    display: block;
    height: 50vh;
    width: 55vw;
    margin: auto;
}

.divItem {
    opacity: 0;
}

.title {
    margin-top: 10vh;
    text-align: left;
}

.dark-text {
    color:rgb(80, 80, 80);
}