/* Front Contact Card */
.frontCard, .backcard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.vertical-line-front {
    min-height: 420px;
    max-height: 480px;
    height: 27vw;
    position: absolute;
    margin-left: 5%;
    transition: all 1.2s ease;
}

.horizontal-line {
    min-width: 700px;
    max-width: 800px;
    width: 45vw;
    position: absolute;
    transition: all 1.2s ease;
}

.job-title {
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
}

.name-style {
    height: 20%;
    text-align: right;
    padding-right: 4%;
    padding-top: 31%;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    font-family: Arial;
}

/* Back Contact Card */
.backcard {
    transform: rotateY(180deg);
}

.backcard-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.backcard-box {
    width: 100%;
    text-align: center;
}

.vertical-line-back {
    border-radius: 5px 5px 5px 5px;
    min-height: 228px;
    max-height: 480px;
    height: 60%;
    position: absolute;
    margin-left: 50%;
    margin-top: 11%;
}

.contact-row {
    display: flex;
    margin-top: 1%;
    margin-left: 22%;
    align-items: center;
}

.contact-info {
    display: inline-block;
    margin-left: 5%;
}

a {
    text-decoration: none;
}

/* Experience card */
.Experience-Card {
    min-width: 350px;
    max-width: 580px;
    min-height: 200px;
    max-height: 340px;
    width: 27vw;
    height: 17vw;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vw;
    border-style: solid;
    border-radius: 15px;
    border-width: 3px;
    color: rgb(80, 80, 80);
    background-color: #e5e4e2;
    transition: all 0.6s ease;
}

.Experience-Card:hover {
    transform: scale(1.1); 
}

.GitIcon {
    display: flex;
    align-items: center;
}

.git-info {
    display: inline-block;
    margin-left: 2%;
}

.date {
    font-size: 18px;
    margin-top: 4%;
    font-weight: bold;
    background-color: transparent;
}

/* Skill Circle */
.Skill-Circle {
    display: flex;
    color: white;
    border-radius: 20px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}