.HeadText {
    font-size: 4.5vw;
    opacity: 0;
}

.BodyText {
    font-size: 3.5vw;
    opacity: 0;
}

.ProjectSubheadText {
    font-size: 3.5vw;
    opacity: 0;
}

.SkillsSubheadText {
    font-size: 3.5vw;
    opacity: 0;
}

.ContactSubheadText {
    font-size: 3.5vw;
    opacity: 0;
}

.divProject {
    opacity: 0;
}

.divSkill {
    opacity: 0;
}

.divContact {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.divFlipBt {
    opacity: 0;
}

.ProjectUnderline {
    background-image: linear-gradient(transparent 80%, #ffce0a 20%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

.SkillsUnderline {
    background-image: linear-gradient(transparent 80%, #ffce0a 20%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

.ContactUnderline {
    background-image: linear-gradient(transparent 80%, #ffce0a 20%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
}